<div [dragula]="bagName" style="border: 1px solid red; padding: 10px; margin: 10px;">
  <div class="dragula-stuff">As soon as you start dragging an element, a <code>drag</code> event is fired</div>
  <div class="dragula-stuff">Whenever an element is cloned because <code>copy: true</code>, a <code>cloned</code> event fires</div>
  <div class="dragula-stuff">A1</div>
  <div class="dragula-stuff">B1</div>
  <div class="dragula-stuff">C1</div>
  <div class="dragula-stuff">D1</div>
  <div class="dragula-stuff">E1</div>
  <div class="dragula-stuff">F1</div>
  <div class="dragula-stuff ex-moved">A <code>cancel</code> event is fired when an element would be dropped onto an invalid target, but retains its original placement instead</div>
</div>