Clicked: {{number}} times
<button type="button" class="btn btn-primary btn-sm" (click)="onIncrement()">+</button>
<span> | </span>
<button type="button" class="btn btn-primary btn-sm" (click)="onDecrement()">-</button>
<span> | </span>
<button type="button" class="btn btn-primary btn-sm" (click)="onIncrementOdd()">Increment if odd</button>
<span> | </span>
<button type="button" class="btn btn-primary btn-sm" (click)="onIncrementAsync()">Increment async</button>
<span> | </span>
<button type="button" class="btn btn-primary btn-sm" (click)="onGenerateSchulz()">Generate Schulz</button>

